body.background{
	background-repeat: no-repeat;
	background-position: center center; 
	background-attachment: fixed;
	background-size: 100%;
}

img.social{
	position: relative;
	right: -800px;
}

div.banner{
	margin-top: 10%;
	text-align: center;
}

div.liltitle{ 
	position: relative;
	text-align: center;
}

div.liltitleleft{
	position: relative;
	left: 25%
}

div.liltitleright{
	position: relative;
	right: 25%
}

div.firstmarleft{
	margin-top: 50px;
	margin-left: 50px;
}

div.secondmarright{
	margin-top:50px;
	margin-right:50px;
}

div.photo{
	text-align: center;
}

span.title{
	background-color: rgba(255,255,255,0.5);
	border-radius: 5px;
	box-shadow: 0 0 10px 1px white;
	font-family: 微軟正黑體;
	font-size: 40px;
	color: white;
	padding-right: 20px;
	padding-left: 20px
}

p.welcome{
	font-family: 微軟正黑體;
	font-size: 48px;
	color: white;
	text-align: center;
}

p.content{
	font-family: 微軟正黑體;
	font-size: 20px;
}

p.info{
	padding-left: 15%;
	padding-top: 5%;
	padding-bottom: 5%;
	font-family: 微軟正黑體;
	font-size: 32px;
}

hr.style-one{
	border: 1;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
}

img.radius{
	border-radius: 10px;
}

img.circle{
	border-radius: 50%;
	border:2px solid #fff;
	box-shadow: 0 0 10px 1px white;

}

#introduce{
	border-radius: 10px;
	background-color: rgba(255,255,255,0.5);
	box-shadow: 0 0 10px 1px white;
}

#introducephoto{
	border-radius: 10px;
	background-color: rgba(255,255,255,0.5);
	box-shadow: 0 0 10px 1px white;
	max-width: 441px;
	position: relative;
	left: 14%
}

#info{
	border-radius: 10px;
	background-color: rgba(255,255,255,0.5);
	box-shadow: 0 0 10px 1px white;
	max-width: 90%;
	position: relative;
	left: 5%
}
